# TeamsFx files
env/.env.*.user
env/.env.local
.localConfigs
build
appPackage/build

# dependencies
node_modules/

# misc
.env
.deployment
.DS_Store

# typescript
*.tsbuildinfo
next-env.d.ts

# next.js
/.next/
/out/
certificates

# vscode
.vscode